<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.stanzobanksb">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectAct" />
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DepositActivity" />
        <activity android:name=".WithdrwalActivity" />
        <activity android:name=".TransferActivity" />
        <activity android:name=".BalanceActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity"></activity>
    </application>

</manifest>